@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf")
}

:root {
    --right-section-background-darker: hsl(0,0%,95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#left-section {
    height: 100vh;
    width: calc(100vh * calc(1862/2792));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: auto;
    width: 100%;
    font-family: "Norse Bold";
    color: white;
    background-color: hsla(0,0%,0%,50%);
    padding: 6px 0;
}

#logo-container h1 {
    font-size: 55px;
}

#logo-container > * {
    opacity: 1;
}

#odin-image {
    width: 50px;
    height: auto;
}

#image-credit {
    color: white;
    margin: auto auto 8px auto;
}

a {
    color: inherit;
}

#plant {
    max-height: 100%;
    position: absolute;
    z-index: -1;
}

#right-section {
    height: 100vh;
    width: calc( 100vw - calc(100vh * calc(1862/2792)));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--right-section-background-darker);
}

form {
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,20%);
}