@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf")
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#left-section {
    width: 30vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo-container {
    display:flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: auto;
    width: 100%;
    font-family: "Norse Bold";
    color: white;
}

#odin-image {
    width: 50px;
    height: auto;
}

#image-credit {
    margin-top: auto;
}

#plant {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

#right-section {
    width: 60vw;
}